:root{
    --background: #d5f3d8;
    --primary-color: #1D1D20;
    --secondary-color: #4A4D57;
    --accent-color: #00FFC4;
    --text-color: #F9F9F9;
}
*{
    margin: 0;
    padding: 0;
}
html{
    font-family: 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16pt;
    color: #FFFFFF;
}
body{
    min-height: 100vh;
    padding: 10px;
    background-color: #f2c7c7;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    margin-top: 100px;
    margin-bottom: 20px;
    font-size: 2rem;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    color: #dca1a1;
}
.wrapper{
    width: 700px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px
}
#todo-input{
    box-sizing: border-box;
    padding: 12px 140px 12px 20px;  
    width: 100%;
    background: none;
    border: 2px solid;
    color :#FFb7c5;
    border-radius: 1000px;
    font: inherit;
    color: #d5f3d8;
    caret-color: #00ffc4;
}
#todo-input:focus{
    outline: none;
}
form{
    position: relative;
}
#add-button{
    position: absolute;
    top: 0;
    right: 0;

    background-color: black;
    height: 100%;
    padding: 0 30px;
    border: none;
    border-radius: 1000px;
    font: inherit;
    font-weight: 600;
    color: #ffb7c5;
    cursor: pointer;
}
.todo{
    margin-bottom: 10px;
    padding: 0 16px;
    background-color: #d5f3d8;
    border-radius: 15px;
    display: flex;
    align-items: center;
}
.todo .todo-text{
    padding: 15px;
    padding-right: 0;
    flex-grow: 1;
    transition: 200ms ease;
    color: lightcoral;
}
.delete-button{
    padding: 3px;
    background: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.delete-button svg{
    transition: 200ms ease;
}
.delete-button:hover svg{
    fill: #ff0033;

}
.custom-checkbox{
    border: 2px solid;
    color: #ffb7c5;;
    border-radius: 50%;
    min-height: 20px;
    min-width: 20px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    transition: 200ms ease;
    cursor: pointer;
}
.custom-checkbox:hover{
    color: green
    
}

input[type="checkbox"]:checked ~ .custom-checkbox{
    background-color: #00ffc4;
}
input[type="checkbox"]:checked ~ .custom-checkbox svg{
    fill:#101114;
}
input[type="checkbox"]:checked ~.todo-text{
    text-decoration: line-through;
    color: green
}
input[type="checkbox"]{
    display: none;
}
@media(max-width: 500px){
    html{
        font-size: 12pt;
    }
    #add-button{
        position: unset;
        width: 100px;
        margin-top: 10px;
        padding: 15px;
        height: auto;
    }
    h1{
        margin-top: 50px;
        font-size: 5vw;
    }
}